.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 8px 15px;
  border-radius: 5px;
  
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  
  background-color: #A5C7F9;
  color: #fff;
  
}