.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  min-height: 100vh;
  background-color: #C0DBD9;
  
  @media (min-width: 1280px){
    width: 1200px;
  }
}